@import url("https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fauna+One&family=Outfit:wght@100..900&display=swap");
@import "tailwindcss";

@import url("https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@theme {
  --font-fauna: "Fauna One", serif;
  --font-stack: "Stack Sans Text", sans-serif;
  --font-elms: "Elms Sans", sans-serif;
}
